html
  body
    div
      h1 #{params.rec.title}

      h2 Recipe Directions
      p #{params.rec.directions}

      h2 Recipe Ingredients
      div
        table
          thead
            tr
              th Ingredient |
              th Quantity |
              th Sugar (grams) |
              th Fiber (grams) |
              th Sodium (milligrams) |
              th Cholesterol (milligrams) |
              th Saturated Fat (grams) |
              th Carbohydrates (grams)
          tbody
            each ing, i in params.rec.ingredients
              if ing.food
                tr
                  td #{ing.food}
                  td #{ing.quantity}
                  td #{ing.sugar}
                  td #{ing.fiber}
                  td #{ing.sodium}
                  td #{ing.cholesterol}
                  td #{ing.fat}
                  td #{ing.carbs}

      h2 Aggregate Nutritional Information
      div
        table
          thead
            tr
              th Sugar (grams) |
              th Fiber (grams) |
              th Sodium (milligrams) |
              th Cholesterol (milligrams) |
              th Saturated Fat (grams) |
              th Carbohydrates (grams)
          tbody
            tr
              td #{params.agg.sugar}
              td #{params.agg.fiber}
              td #{params.agg.sodium}
              td #{params.agg.cholesterol}
              td #{params.agg.fat}
              td #{params.agg.carbs}